body {
    background: url("../resources/background.jpg") no-repeat center;
    background-size: cover;
}

#wrapper {
    background-color: rgba(0, 0, 0, 0.65)
}

#image {
    margin: 0 auto;
    border: 5px solid;
    display: block;
}

.info {
    text-align: left;
    font-family: Open Sans, sans-serif;
    font-size: 13pt;
    color: white;
    max-width: 600px;
    margin: 0 auto 20px;
}

a:visited.pLink, a:link.pLink {
    color: lightblue;
}