html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #E0A665;
    background-image: -webkit-radial-gradient(closest-corner, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(160deg, #0F1B58, #0F1B58 10%, #E0A665 90%);
    background-image: -moz-radial-gradient(closest-corner, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.2)), -moz-linear-gradient(160deg, #0F1B58, #0F1B58 10%, #E0A665 90%);
    background-image: -o-radial-gradient(closest-corner, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.2)), -o-linear-gradient(160deg, #0F1B58, #0F1B58 10%, #E0A665 90%);
    background-image: radial-gradient(closest-corner, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.2)), linear-gradient(160deg, #0F1B58, #0F1B58 10%, #E0A665 90%);
    background-attachment: fixed;
}

#canvas {
    margin: 0;
    padding: 0;
    position: absolute;
}

#wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

#navigation {
    top: 50px;
    position: relative;
    text-align: center;
    width: 100%;
}

#navBar {
    list-style: none;
    display: inline-block;
}

#navBar a:link, #navBar a:visited {
    font-family: Open Sans, sans-serif;
    letter-spacing: 2pt;
    font-size: 12pt;
    text-decoration: none;
    color: white;
    border-right: 3px solid;
    padding-right: 4px;
    padding-left: 2px;
}

#navBar a:link.last {
    border: none;
}

#content {
    position: relative;
    text-align: center;
    width: 100%;
}

#image {
    margin: 0 auto;
    border: 5px solid;
    display: block;
}

#header {
    margin-top: 75px;
    color: white;
    text-align: center;
}

.info {
    text-align: left;
    font-family: 'Slabo 13px', serif;
    font-size: 12pt;
    color: black;
    max-width: 600px;
    margin: 0 auto 20px;
}

a:visited.pLink, a:link.pLink {
    color: #0F1B58;
}