html, body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    background: #E0A665;
    background-image: -webkit-radial-gradient(closest-corner, rgba(0,0,0,0) 60%, rgba(0, 0, 0, 0.2)),-webkit-linear-gradient(160deg, #0F1B58, #0F1B58 10%, #E0A665 90%);
    background-image: -moz-radial-gradient(closest-corner, rgba(0,0,0,0) 60%, rgba(0, 0, 0, 0.2)),-moz-linear-gradient(160deg, #0F1B58, #0F1B58 10%, #E0A665 90%);
    background-image: -o-radial-gradient(closest-corner, rgba(0,0,0,0) 60%, rgba(0, 0, 0, 0.2)),-o-linear-gradient(160deg, #0F1B58, #0F1B58 10%, #E0A665 90%);
    background-image: radial-gradient(closest-corner, rgba(0,0,0,0) 60%, rgba(0, 0, 0, 0.2)),linear-gradient(160deg, #0F1B58, #0F1B58 10%, #E0A665 90%);
}

h1{
    font-size: 38pt;
    color: white;
    font-family: Open Sans, sans-serif;
    margin-bottom: 10px;
    font-weight: lighter;
    letter-spacing: 2pt;
}

h2{
    color: white;
    font-style: italic;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
}

h3{
    font-size: 12pt;
    color: white;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
}

#canvas{
    margin:0;
    padding:0;
    position: absolute;
}

#wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
}

#name{
    display: inline-block;
}

#info{
    display: inline-block;
    margin-bottom: 10px;
}

#navigation{
    top: 25%;
    position: absolute;
    text-align: center;
    width: 100%;
}

#menu{
    list-style: none;
    display: inline-block;
}

a:link, a:visited{
    color: white;
}

a:link.navLink, a:visited.navLink{
    font-family: sans-serif;
    letter-spacing: 2pt;
    font-size: 12pt;
    text-decoration: none;
    color:white;
    border-right: 3px solid;
    padding-right: 4px;
    padding-left: 2px;
}

a:link.navLink.last{
    border: none;
}

#about{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: 0;
}

#sliderDiv{
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    position: absolute;
    display: table;
    background-color: #696969;
    width: 200px;
    text-align: center;
}

#slider{
    -webkit-appearance: none;
    appearance: none;
    width: 190px;
    height: 15px;
    background: #fff; /
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider:hover{
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#slider::-ms-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#sliderHeader{
    margin: 0 0 10px;
}

#sliderLabel{
    margin: 10px 0 0;
}