body {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url("../resources/background.jpg"),
        no-repeat center center fixed;
    background-size: cover;
}

#wrapper {
    margin-right: auto;
    margin-left:  auto;
}

#image {
    margin: 0 auto;
    border: 5px solid;
    display: block;
    width: 200px;
    height: 200px;
}

.info {
    text-align: left;
    font-family: Open Sans, sans-serif;
    font-size: 13pt;
    color: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background: rgb(0, 0, 0, 0.4);
}

a:visited.pLink, a:link.pLink {
    color: lightblue;
}