body {
    background:
    linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url("../resources/background.jpg"),
        no-repeat center center fixed;
    background-size: cover;
}

#wrapper {
    margin-right: auto;
    margin-left:  auto;
    text-align: center;
}

#info {
    text-align: center;
    margin-bottom: 10px;
}

#projects {
    padding: 0px 50px 50px 50px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.imageDiv {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
}

.image {
    border: 5px solid white;
    width: 190px;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: steelblue;
}

.imageDiv:hover .overlay {
    opacity: 1;
}

.overlayText {
    color: white;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

a:link.imageLink, a:visited.imageLink {
    color: black;
}