body {
    background: #E0A665;
    background-image: -webkit-radial-gradient(closest-corner, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(160deg, #0F1B58, #0F1B58 10%, #E0A665 90%);
    background-image: -moz-radial-gradient(closest-corner, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.2)), -moz-linear-gradient(160deg, #0F1B58, #0F1B58 10%, #E0A665 90%);
    background-image: -o-radial-gradient(closest-corner, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.2)), -o-linear-gradient(160deg, #0F1B58, #0F1B58 10%, #E0A665 90%);
    background-image: radial-gradient(closest-corner, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.2)), linear-gradient(160deg, #0F1B58, #0F1B58 10%, #E0A665 90%);
}